:root {
  --white:#fcfcfc;
  --offwhite:#fffaee;
  --ice-white: #f1f2ff ;
  --champagne:#fee5c0;
  --light-rose:#ffd8e8;
  --strong-rose:#ff559c;
  --rose:#dd77a2;
  --dull-rose:#835769;
  --dark-rose:#85264d;
  --night-blue:#162242;
  --dull-blue:#3c6a80;
  --dark-blue:#005ac0;
  --strong-blue:#0099ff;
  --sky-blue:#16bdff;
  --light-blue:#bbe6ff;
  --green: #00ad88;
  --red: #d33f3f;
  --orange: #eb820a;
  --yellow: #ffd726;
  --light-gray: #bebebe;
  --gray: #8d8d8d;
  --dark-gray:#575757;
  --purple-gray:#3d3a3f;
  --black:#202020;


  --primary: var(--sky-blue);
  --secondary: var(--rose);
  --title-primary: var(--dark-rose);
  --title-secondary: var(--dark-blue);

  --text-primary: var(--black);
  --text-secondary: var(--dark-gray);
  --text-contrast: black;
  --text-disabled: var(--light-gray);
  --text-inverted: var(--white);

  --disabled-letter: var(--gray);
  --disabled-bg :var(--light-gray);

  --bg-primary: var(--champagne);
  --bg-secondary: var(--light-rose);
  --bg-navbar: var(--sky-blue);


  --surface-primary: var(--white);
  --surface-secondary:var(--offwhite);
  --surface-contrast: white;
  --surface-contrast-i: black;
  --inner-surface: var(--ice-white);
  --inner-surface-i: var(--purple-gray);

  --disabled-surface: var(--light-gray);
  --sky-blue-surface: var(--light-blue);
  --rose-surface: var(--light-rose);
  --rose-surface-i: var(--dark-rose);
  --navbar-surface: var(--light-blue);
  --surface-error: var(--yellow);

  --border: var(--light-gray);
  --border-primary: var(--dark-rose);
  --border-secondary: var(--dark-blue);
  --border-strong: var(--rose);
  --border-strong-blue: var(--sky-blue);
  --border-contrast: var(--text-contrast);
  --border-navbar: var(--dark-blue);
  
  --shadow: rgba(65, 20, 42, 0.2);
  --shadow-hover: rgba(255, 0, 128, 0.3);
  
  --link-color: var(--rose);
  --link-hover: var(--sky-blue);
  --link-active: var(--text-contrast);
  --link-footer: var(--dull-rose);
  --focus: var(--strong-rose);
}

.dark-theme {
  --primary: var(--dark-blue);
  --secondary: var(--dark-rose);
  --title-primary: var(--rose);
  --title-secondary: var(--sky-blue);

  --text-primary: var(--white);
  --text-secondary: var(--offwhite);
  --text-contrast: white;
  --text-disabled: var(--gray);
  --text-inverted: var(--black);

  --disabled-letter: var(--gray);
  --disabled-bg :var(--dark-gray);

  --bg-primary: var(--night-blue);
  --bg-secondary: var(--black);
  --bg-navbar: var(--dark-rose);

  --surface-primary: var(--black);
  --surface-secondary:var(--night-blue);
  --surface-contrast: black;
  --surface-contrast-i: white;
  --inner-surface: var(--purple-gray);
  --inner-surface-i: var(--ice-white);

  --disabled-surface: var(--dark-gray);
  --rose-surface: var(--dull-rose);
  --rose-surface-i: var(--light-rose);
  --sky-blue-surface: var(--dull-blue);
  --navbar-surface: var(--dull-rose);
  --surface-error: var(--orange);


  --border: var(--dark-gray);
  --border-primary: var(--rose);
  --border-secondary: var(--sky-blue);
  --border-strong: var(--strong-rose);
  --border-strong-blue: var(--strong-blue);
  --border-contrast: var(--text-contrast);
  --border-navbar: var(--rose);

  
  --shadow: rgba(255, 103, 197, 0.4);
  --shadow-hover: rgba(255, 255, 255, 0.3);
  
  --link-color: var(--strong-rose);
  --link-hover: var(--strong-blue);
  --link-acive: var(--text-contrast);
  --link-footer: var(--rose);
  --focus: var(--strong-blue);
  
}


html.dark-theme {
  color-scheme: dark;
}

html:not(.dark-theme) {
  color-scheme: light;
}

